# Ignore elastic data
/elastic/moloch-data/nodes/0

# Ignore moloch pcap and logs
/arkime/logs/viewer.log
/arkime/logs/capture.log
/arkime/raw/*.pcap
/arkime/pcap/*.pcap
/arkime/pcap/*.pcapng

# Ignore suricata logs
/suricata/logs/eve.json
/suricata/logs/suricata.log
