# Ignore elastic data
/elastic/moloch-data/nodes

# Ignore moloch pcap and logs
/moloch/logs/viewer.log
/moloch/logs/capture.log
/moloch/raw/*.pcap
/moloch/pcap/*.pcap
/moloch/pcap/*.pcapng

# Ignore suricata logs
/suricata/logs/eve*.json
/suricata/logs/suricata.log